/* all */
html {
    background-image: url(./images/ajm-bgv.PNG);
    color: #FFB1C5;
    font-family: 'Unica One';
}

body {
    margin: 0%;
}

h1 {
    font-size: 8vw;
    margin: 0;
}

h2 {
    font-size: 55px;
    letter-spacing: 3vw;
    display: flex;
    justify-content: end;
    color: ivory;
    padding-top: 250px;
    margin: 0;
}

h3 {
    margin: 0;
    font-size: 3vw;
}

h4 {
    font-size: 4vw;
    margin: 0;
}

p, li {
    font-size: 17px;
    width: 75vw;
    margin-left: 5vw;
    font-family:'Lucida Sans', 'Lucida Sans Regular', Verdana, sans-serif;
}

footer {
    height: 50px;
}

li:hover {
    color: ivory;
}

/* unvisited link */
a:link {
    color: ivory;
}
  
/* visited link */
a:visited {
    color: ivory;
}
  
/* mouse over link */
a:hover {
    color: #FFB1C5;
}
  
/* selected link */
a:active {
    color: #1A141C;
}

.link-primary {
    font-size: 4vh;
    margin-left: 5vw;
    margin-top: 50px;
    width: fit-content;
}

.link-secondary {
    font-size: 3vh;
    margin-left: 5vw;
    width: fit-content;
}

.logo-size {
    height: 50px;
    max-width: 100%;
}

.flexc {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 250px 10px 0px 10px;
    margin: 0;
}

.topnav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: black;
    padding: 10px 0px 10px 0px;
}
  
.topnav a {
    color: ivory;
    text-align: center;
    text-decoration: none;
    letter-spacing: .5vw;
}
  
.topnav a:hover {
    color: #FFB1C5;
}
  
.topnav a.active {
    color: ivory;
}

/* home */
.pfp {
    height: 35vw;
    width: auto;
    margin-left: 30px;
}

.ttr {
    text-align: right;
}

.underline {
    border-bottom-style: solid;
    width: 50%;
    justify-content: end;
}

/* about */

/* skills */

/* projects */

.projects-block {
    display: flex;
    flex-direction: column;
}

/* contact */